/.phpunit.cache
/.vscode
/.fleet
/.idea
/.nova
/.zed
/.env

/bootstrap/cache
# /storage
# /storage/*
/vendor
/vendor/*
/node_modules
/node_modules/*

.env
.env.example
.env.backup
.env.production

composer.lock
package-lock.json
