/vendor/
node_modules/
.env
.env.*
!.env.example
.phpunit.cache/
storage/
!storage/app/public/
public/storage
public/upload_*
bootstrap/cache/


.idea/
.vscode/
.fleet/
.DS_Store
Thumbs.db


.nova/
.zed/


/composer.lock
/package-lock.json
/pnpm-lock.yaml
/yarn.lock


/.phpunit.result.cache


Dockerfile
docker-compose.yml
./docker-compose.yml
docker/
