/.phpunit.cache
/.vscode
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.env

/node_modules
/node_modules/*
# /storage
# /storage/*
/vendor
/vendor/*
/bootstrap/cache
/bootstrap/cache/*

.env
.env.example
.env.backup
.env.production

composer.lock
package-lock.json
