{
    "bracketSameLine": false,
    "braceStyle": "allman",
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        },
        {
            "files": ["*.js"],
            "options": {
                "parser": "babel",
                "tabWidth": 4
            }
        }
    ]
}
